*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* Fonts*/

@font-face{
	font-family: 'Gill Sans Local';
	src: url('../font/Gill Sans.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family: 'Gill Sans Local';
	src: url('../font/Gill Sans Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Body */

body{
	font-family: 'Gill Sans Local', 'Gill Sans', 'GillSans', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
	background: #fafafa;
	color: #111;
}

/* Header */

header{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 36px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
    min-height: 110px;
	padding: 12px 16px;
}
header a.logo img{
	width: 56px;
	height: 56px;
	object-fit: contain;
}
header a.logo p{
	font-size: 16px;
	margin: 0;
}
header a.logo, header a.mainlogo{
	display: flex;
	align-items: center;
	gap: 8px;
	color: inherit;
	text-decoration: none;
	height: 64px;
}
header a.mainlogo{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
}