{{define "About"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/About.css">
    <title>PokeStats - About</title>
</head>

<body>
    <header>

        <a href="/" class="logo">
            <img src="/static/img/HomeLogo.png" alt="Home Logo">
            <p>Home</p>
        </a>

        <a href="/pokemon" class="logo">
            <img src="/static/img/PokemonLogo.png" alt="Pokemon Logo">
            <p>Pokemon</p>
        </a>

        <a href="/moves" class="logo">
            <img src="/static/img/MovesLogo.png" alt="Moves Logo">
            <p>Moves</p>
        </a>

        <a href="/" class="mainlogo">
            <img src="/static/img/Logo.png" alt="Logo of Pokestrat">
        </a>

        <a href="/teams" class="logo">
            <img src="/static/img/TeamsLogo.png" alt="Teams Logo">
            <p>Teams</p>
        </a>

        <a href="/about" class="logo">
            <img src="/static/img/AboutLogo.png" alt="About Logo">
            <p>About</p>
        </a>

        <a href="/login" class="logo">
            <img src="/static/img/LoginLogo.png" alt="Logins Logo">
            <p>Login</p>
        </a>
    </header>

    <main>
        <div class="BlocAbout">
            <h1>FAQ</h1>
            	<h2>• Comment avez-vous décomposé le projet ? Quelles ont été les phases clés</h2>
                <br>
                <p>J'ai décomposé le projet en plusieurs phases : </p>
                <p>1. Phase de test de l'API avec Postman</p>
                <p>2. Phase de développement du backend en Go</p>
                <p>3. Phase de développement du frontend en HTML/CSS</p>
                <p>4. Phase de tests et de débogage</p>
                <p>5. Phase de documentation</p>
                <br>
	            <h2>• Comment avez-vous réparti les tâches  entre les membres de l'équipe ? Avezvous utilisé une stratégie particulière pour organiser le travail ?</h2>
                <br>
                <p>J'ai découpé le backend en plusieurs parties : contrôleurs, modèles, routes, etc.
                <p>Et j'ai avancer de features en features jusqu'à la fin du projet.</p>
                <h2>• Comment avez-vous géré votre temps ? Avez-vous défini des priorités ?</h2>
                <br>
                <p>J'ai travaillé la plus part du temps dans les heures de cours, mais j'ai aussi travaillé pendant les week-ends pour débugger et finaliser le projet.</p>
                <br>
	            <h2>• Quelle stratégie avez-vous adoptée pour vous documenter ?</h2>
                <br>
                <p>J'ai utilisé la documentation officielle de Go, des video tutoriels sur YouTube, et j'ai aussi utilisé des forums comme StackOverflow et lorsque j'ai eu des difficultés, j'ai demandé des explication à l'IA <p>
                <p>J'ai cité mes sources sur les morceaux de code utilisés dans le projet.</p>
            </div>
    </main>
</body>
</html>
{{end}}
