{{define "Teams"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokestats</title>
    <link rel="stylesheet" href="/static/styles/Teams.css">
    <link rel="stylesheet" href="/static/styles/Home.css">
</head>
<body>
    {{/* Permet d'afficher le header 1 fois */}}
    {{if .Header}}
    <header class="site-header">
        <a href="/" class="logo">
            <img src="/static/img/HomeLogo.png" alt="Home Logo">
            <p>Home</p>
        </a>

        <a href="/pokemon" class="logo">
            <img src="/static/img/HomeLogo.png" alt="Home Logo">
            <p>Pokemon</p>
        </a>

        <a href="/moves" class="logo">
            <img src="/static/img/HomeLogo.png" alt="Home Logo">
            <p>Moves</p>
        </a>

        <a href="/" class="mainlogo">
            <img src="/static/img/Logo.png" alt="Logo of Pokestrat">
        </a>

        <a href="/teams" class="logo">
            <img src="/static/img/HomeLogo.png" alt="Home Logo">
            <p>Teams</p>
        </a>

        <a href="/about" class="logo">
            <img src="/static/img/HomeLogo.png" alt="Home Logo">
            <p>About</p>
        </a>

        <a href="/login" class="logo">
            <img src="/static/img/HomeLogo.png" alt="Home Logo">
            <p>Login</p>
        </a>
    </header>
    {{end}}

    <main>
        <div class="teams-center">
            <div class="teams-grid">

                    {{/* (Source StackOverflow + IA) */}}
                    {{/* Pour chaque Pokemon en favoris */}}

                    {{/* $i = Index du pokemon */}}
                    {{/* $t = Pokemon */}}

                    {{range $i, $t := .Teams}}

                        <div class="BlocWelcome pokemon-card">

                            {{/* Mettre un Bouton supprimer */}}
                            <a class="remove-button" href="/teams?remove={{$t.ID}}">Remove</a>

                            {{/* Crée un lien vers la page Details du pokemon */}}
                            <a class="pokemon-link" href="/pokemon/details?id={{$t.ID}}">

                                {{/* Afficher le nom du pokemon */}}
                                <div class="pokemon-name" style="text-transform: capitalize">{{$t.Name}}</div>

                                {{/* Afficher l'ID du pokemon */}}
                                <div class="pokemon-number">#{{$t.ID}}</div>

                                {{/* Afficher l'image pokemon */}}
                                <img src="{{$t.Image}}" alt="{{$t.Name}}" class="pokemon-img">
                                
                            </a>
                        </div>
                    {{end}}
                </div>
        </div>
    </main>
</body>
</html>
{{end}}
